#main {
	padding-top: 20px;
	background-color: ;
}

.title {
	text-align: center;
	padding-bottom: 10px;

}

.edits {
}

.edit1 {

	background-color: #d0e1f1;
	margin:5px;
	border-radius: 5px;
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 40px;
	

}
.red{
	background-color: crimson;
		color:white;

}
.blue {

	margin-top: 10px;
	
}